.layout {
    display: grid;
    grid-template-areas:
        'window-bar'
        'main-content'
        'player';
    grid-template-rows: 0 calc(100vh - 90px) 90px;
    grid-template-rows: 0 calc(100dvh - 90px) 90px;
    grid-template-columns: 1fr;
    gap: 0;
    height: 100%;
    overflow: hidden;
}

.windows {
    grid-template-rows: 30px calc(100vh - 120px) 90px;
    grid-template-rows: 30px calc(100dvh - 120px) 90px;
}

.macos {
    grid-template-rows: 30px calc(100vh - 120px) 90px;
    grid-template-rows: 30px calc(100dvh - 120px) 90px;
}

.retro {
    grid-template-areas:
        'window-bar'
        'top-bar'
        'main-content'
        'player'
        'status-bar';
    grid-template-rows: 30px 64px calc(100vh - 212px) 90px 28px;
    grid-template-rows: 30px 64px calc(100dvh - 212px) 90px 28px;
}

.retro.windows,
.retro.macos {
    grid-template-rows: 30px 64px calc(100vh - 212px) 90px 28px;
    grid-template-rows: 30px 64px calc(100dvh - 212px) 90px 28px;
}
