.buttons-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;

    @media (width < 768px) {
        .buttons-container {
            gap: 0;
        }

        .slider-value-wrapper {
            display: none;
        }
    }
}

/* Retro theme overrides */
:global([data-theme="retroMonochrome"]) .buttons-container {
    gap: 0.5rem;
}

:global(#default-layout.retro) .controls-container {
    height: auto;
}

:global([data-theme="retroMonochrome"]) .controls-container,
:global([data-video-fullscreen]) .controls-container {
    height: auto;
    min-height: 48px;
}
