[Desktop Entry]
Name=Roofy Music
GenericName=Music player
Exec=${FEISHIN_DESKTOP_EXECUTABLE} ${FEISHIN_DESKTOP_ARGS}
TryExec=${FEISHIN_DESKTOP_EXECUTABLE}
Terminal=false
Type=Application
Icon=org.roofy.music
StartupWMClass=roofy-music
SingleMainWindow=true
Categories=AudioVideo;Audio;Player;Music;
Keywords=Navidrome;Jellyfin;Subsonic;OpenSubsonic
Comment=A player for your self-hosted music server
